* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 300px;
    height: 98vh;
    background: rgba(254, 252, 221, 0.98);
    padding: 15px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.08);
    position: relative;
    overflow-y: auto;
}

/* hadi drnaha bax sidbar i9dar ikhraj */
.sidebar.active {
    display: none;
}

.btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    color: white;
    cursor: pointer;
}

/* top-left toggle button */
#btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #8a2be2;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 300;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
#div-img-delete{
    display: flex;
    justify-content: start;
}

.card {
    width: 200px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    position: relative;
    background-color: antiquewhite;
        margin-top: 41px;
}

.btns {
    position: absolute;
    top: 45px;
    display: flex;
    right: 18px;
    gap: 5px;

}


.removeBtn {
    background: red;
}

.addBtn {
    background: green;
}

img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px;
}

.sidebar h2,p{
    text-align: center;
}

.btn-add-worker {
    position: absolute;
    top: 0px;
    right: 50px;
    margin-bottom: 20px;
}

.btn-add-worker button {
    background-color: #2e8b57;
    border-radius: 15px;
    color: #fff;
    padding: 8px 14px;
    border: none;
    cursor: pointer;
}

.form input {
    width: 100px;
    border-radius: 18px;
    height: 40px;
    background-color: antiquewhite;

}

::placeholder {
    text-align: center;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    background-color: antiquewhite;
}

.title {
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
}

.form label {
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}

.form {
    box-shadow: 20px 20px antiquewhite;
    width: 390px;
    height: 80vh;
    padding: 30px 40px;
    background-color: burlywood;
    border-radius: 20px;

}

.formulaire {
    position: absolute;
    bottom: 15%;
    left: 590px;
}

.inputlabel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;

}

.inputlabel input {
    width: 300px;
}

.input {
    width: 300px;
}

.input-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-button {
    display: block;
    width: 100%;
    padding: 10px 12px;
    margin-top: 12px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.btn-submet {
    display: flex;
    justify-content: center;
    width: 100px;
    top: 20px;
    margin-top: 30px;
}


#loc {
    width: 300px;
    border-radius: 18px;
    height: 40px;
    background-color: antiquewhite;
    margin-top: 5px;
}

option {
    text-align: center;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    background-color: antiquewhite;
}

select {
    background-color: antiquewhite;
}

.main {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

img.bg-img {
    width: 100%;
    height: 100vh;
    border-radius: 0;
}

.container {
    display: grid;
    width: 100%;
    grid-template-areas:
        "zone-1 zone-1 gap-1 zone-2 zone-3"
        "zone-4 zone-4 gap-1 gap-2 gap-2"
        "zone-4 zone-4 gap-1 zone-5 zone-6";
}

.zone-1 {
    grid-area: zone-1;
    background-image: url(/img/Screenshot\ 2025-11-15\ 174018.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.zone-2 {
    grid-area: zone-2;
    background-image: url(/img/Screenshot\ 2025-11-15\ 174517.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.zone-3 {
    grid-area: zone-3;

    background-image: url(/img/Screenshot\ 2025-11-15\ 174545.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.zone-4 {
    grid-area: zone-4;

    background-image: url(/img/Screenshot\ 2025-11-15\ 183108.png);
    background-repeat: no-repeat;
    background-size: cover;


}

.zone-5 {
    grid-area: zone-5;
    background-image: url(/img/Screenshot\ 2025-11-15\ 174623.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.zone-6 {
    grid-area: zone-6;
    background-image: url(/img/Screenshot\ 2025-11-15\ 174517.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.gap-1 {
    grid-area: gap-1;

    background-image: url(/img/Screenshot\ 2025-11-15\ 174420.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.gap-2 {
    grid-area: gap-2;
    background-image: url(/img/Screenshot\ 2025-11-15\ 222641.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.containerprincipal {
    display: flex;
}

.button {
    width: 50px;
    height: 20px;
    background-color: bisque;
    border-radius: 20%;
    display: flex;
    justify-content: center;
}

.button:hover {
    border-radius: 18px;
    background-color: rgb(159, 112, 55);
}

.zone-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.zone-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.zone-3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.zone-4 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.zone-5 {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
}

.zone-6 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card-1 {
    width: 90%;
    height: 90%;


}

.card-1 {
    width: 90%;
    height: 90%;
}

.card-2 {
    width: 90%;
    height: 90%;
}

.card-3 {
    width: 90%;
    height: 90%;
}

.card-4 {
    width: 90%;
    height: 90%;
}

.card-5 {
    width: 90%;
    height: 90%;
}

.card-6 {
    width: 90%;
    height: 90%;

}

.ptite-card {
    width: 100px;
    display: flex;
    flex-direction: column;
    height: 66px;
    align-items: center;
    background-color: bisque;
    gap: 2px;
    border-radius: 10px;
    margin-top: 5px;
}

.ptite-card img {
    width: 50px;
    height: 28px;
    margin: 0;
    border: rgb(237, 176, 100) 3px solid;
}
.img-delete{
    width: 39px;
    position: absolute;
    right: 2px;
    top: 4px;
    height: 40px;

}
.divModal{
    position: relative;
    top: -590px;
    left: 544px;
    background-color: #fffbb4;
    width: 450px;
    border-radius: 33px;
    box-shadow: 12px 12px 12px  #fffbb4;
    display:flex ;
    flex-direction: column;
    align-items: start;
    padding-left: 10px;

}
.divModal h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
}
.divModal p{
    font-family: 'Courier New', Courier, monospace;
}
#btn-modal{
    background-color: #fffbb4;
    width: 100px;
    height: 10px;
    border-radius: 18px;
    box-shadow: #fffbb4 -2px 6px 0px 5px;
    border: none;
}
/* .affichmodal{

} */
#btn-modal affichmodal{
    display: none;
}
#divModal{
    display: none;
}
#divModal .affichmodal{

    display: block;
}
/* @media 600px {
    
} */